@require "var.styl"

.gallery-container
	@media (min-width: xl)
		padding-top px(100)
		margin-bottom px(70)
	@media (min-width: md) and (max-width: xl)
		padding-top d(111)
		margin-bottom d(70)
	@media (max-width: md)
		@media (orientation: portrait)
			padding-top m(10)
			margin-bottom m(20)
		@media (orientation: landscape)
			padding-top m(10)
			margin-bottom m(12)
	&__switch-buttons
		@media (min-width: md)
			display none
		@media (max-width: md)
			display block
			text-align right
			@media (orientation: portrait)
				margin-bottom m(14)
			@media (orientation: landscape)
				margin-bottom m(12)
		&__button
			display inline-block
			&_1
				fill none
				stroke color1
				@media (max-width: md)
					@media (orientation: portrait)
						width m(18)
						height m(14)
						margin-right m(10)
					@media (orientation: landscape)
						width m(12)
						height m(9)
						margin-right m(10)
			&_2
				fill none
				stroke color3
				@media (max-width: md)
					@media (orientation: portrait)
						width m(24)
						height m(14)
					@media (orientation: landscape)
						width m(18)
						height m(9)

	&&_one-column
		& .gallery-container__switch-buttons
			&__button
				&_1
					@media (max-width: md)
						stroke color3 !important
				&_2
					@media (max-width: md)
						stroke color1 !important
		& .gallery__block
			@media (max-width: md)
				@media (orientation: portrait)
					width 100%
					margin-bottom m(20)
				@media (orientation: landscape)
					width 100%
					margin-bottom m(14)
			& .gallery__block__img-block
				@media (orientation: portrait)
					height m(240)
				@media (orientation: landscape)
					height m(150)

		& .gallery__block__details
			@media (max-width: md)
				display block
				@media (orientation: portrait)
					padding-top m(8)
					padding-left m(10)
				@media (orientation: landscape)
					padding-top m(8)
					padding-left m(15)

			&__link
				@media (max-width: md)
					font-family fontL
					color color4
					@media (orientation: portrait)
						font-size m(18)
					@media (orientation: landscape)
						font-size m(12)

	&__title
		text-align center
		margin 0
		padding 0

		font-family fontR
		text-transform uppercase
		@media (min-width: xl)
			font-size rem(32)
			margin-bottom px(65)
		@media (min-width: md) and (max-width: xl)
			font-size d(32)
			margin-bottom d(65)
		@media (max-width: md)
			@media (orientation: portrait)
				font-size m(12)
				margin-bottom m(15)
			@media (orientation: landscape)
				font-size m(10)
				margin-bottom m(12)

.gallery
	@media (min-width: xl)
		display block
	@media (min-width: md) and (max-width: xl)
		display block
	@media (max-width: md)
		display block

	&__block
		float left
		@media (min-width: xl)
			width 22.9%
			margin-right 2.8%
			margin-bottom 2%
			&:nth-child(4n)
				margin-right 0
		@media (min-width: md) and (max-width: xl)
			width 22.9%
			margin-right 2.8%
			margin-bottom 2%
			&:nth-child(4n)
				margin-right 0
		@media (max-width: md)
			width 32%
			margin-right 2%
			margin-bottom 2%
			&:nth-child(3n)
				margin-right 0
		&__details
				display none

		&__img-block
			position relative
			font-size 0
			background-size cover
			background-position center
			@media (min-width: xl)
				height px(270)
			@media (min-width: md) and (max-width: xl)
				height d(270)
			@media (max-width: md)
				@media (orientation: portrait)
					height m(60)
				@media (orientation: landscape)
					height m(70)
			&__image
				display none
				width 100%
				height auto
				margin auto

			&__mask
				display none
				position absolute
				background rgba(0, 0, 0, 0.5)
				top 0
				left 0
				bottom 0
				right 0
				font-size d(20)
				@media (min-width: xl)
					padding px(60) px(55)
				@media (min-width: md) and (max-width: xl)
					padding d(60) d(55)
				@media (orientation: portrait) and (max-width: mob)
					padding m(4) m(5)
				@media (orientation: landscape) and (max-width: mob)
					padding m(7) m(10)

				&_active-mobile
					@media (max-width: mob)
						display block

				&__links-block
					margin auto auto
					@media (min-width: md)
						text-align center
					@media (orientation: portrait) and (max-width: mob)
						text-align center
					@media (orientation: landscape) and (max-width: mob)
						text-align center



			&:hover &__mask
				@media (min-width: md)
					display block
