
@require "var.styl"

.main-header
	position fixed
	display block
	width 100%
	z-index 1000
	background white
	transition all 0.5s ease
	-webkit-transition all 0.5s ease

	& .container
		position relative
		z-index 1000
		@media (orientation: portrait) and (max-width: md)
			padding-top m(7)
			padding-bottom m(7)
		@media (orientation: landscape) and (max-width: md)
			padding-top m(2)
			padding-bottom m(2)
		@media (max-width: md)
			display flex
			align-items center
			justify-content space-between

	&__logo
		@media (min-width: xl)
			position absolute
			top rem(10)
			left 0
			right 0
			margin 0 auto
			z-index 50
		@media (min-width: md) and (max-width: xl)
			position absolute
			top d(15)
			left 0
			right 0
			margin 0 auto
			z-index 50
		text-align center
		@media (max-width: md)
			width 33.3%
			font-size 0

		& img
			@media (min-width: xl)
				width d(150)
				max-width (1280/1920)*150px
			@media (min-width: md) and (max-width: xl)
				width d(135)
			@media (orientation: portrait) and (max-width: md)
				width m(55)
			@media (orientation: landscape) and (max-width: md)
				width m(24)


	&__phone
		@media (min-width: md)
			display none
		@media (max-width: md)
			display block
			text-align left
			width 33.3%
			& img
				@media (orientation: portrait) and (max-width: md)
					width m(28)
				@media (orientation: landscape) and (max-width: md)
					width m(16)

	&__butter-button
		@media (min-width: md)
			display none
		@media (max-width: md)
			display block
			text-align right
			width 33.3%
			& img
				@media (orientation: portrait) and (max-width: md)
					width m(44)
					height m(20)
				@media (orientation: landscape) and (max-width: md)
					width m(18)
					height m(9)
			& svg
				@media (max-width: md)
					fill none
					stroke color1
					stroke-width 2px
					@media (orientation: portrait)
						width m(44)
						height m(20)
					@media (orientation: landscape)
						width m(18)
						height m(9)


.header-margin-block
	@media (min-width: xl)
		height rem(151)
	@media (min-width: md) and (max-width: xl)
		height d(151)
	@media (orientation: portrait) and (max-width: md)
		height m(62)
	@media (orientation: landscape) and (max-width: md)
		height m(26)

.fixed
	background rgba(0,0,0, 0.7)
	transition all 0.5s ease
	-webkit-transition all 0.5s ease

	.main-nav__list__item a
		color white
	.main-nav__list__item_active a
		@media (min-width: md)
			color color1

.small_header
	& .main-nav__list__item__a
		@media (min-width: xl)
			line-height px(80) !important
		@media (min-width: md) and (max-width: xl)
			line-height d(80) !important
	& .main-header__logo
		@media (min-width: xl)
			top rem(5)
		@media (min-width: md) and (max-width: xl)
			top d(5)
		& img
			@media (min-width: xl)
				width d(80) !important
				max-width px(80) !important
			@media (min-width: md) and (max-width: xl)
				width d(80) !important
			@media (orientation: portrait) and (max-width: md)
				width m(35) !important
			@media (orientation: landscape) and (max-width: md)
				width m(20) !important

.main-nav
	transition all 0.5s ease
	@media (max-width: md)
		display none
		position absolute
		top 0
		background rgba(0, 0, 0, 0.8)
		z-index 50
		@media (orientation: portrait)
			height 1000px
			width 90%
			padding-top m(52)
			right -100%
		@media (orientation: landscape)
			height 1000px
			width 90%
			padding-top m(20)
			right -100%
		&_active
			display block
		&_in
			@media (orientation: portrait) and (max-width: md)
				transform translateX(-110%)
			@media (orientation: landscape) and (max-width: md)
				transform translateX(-110%)

	&__butter-mask
		position absolute
		display block
		z-index 1000
		@media (orientation: portrait) and (max-width: md)
			top 0
			right 0
			width m(65)
			height m(55)
		@media (orientation: landscape) and (max-width: md)
			top 0
			right 0
			width m(28)
			height m(26)


	&__list
		position relative
		list-style none
		margin 0
		display block
		z-index 100


		@media (min-width: md)
			padding 0 d(30)

		@media (max-width: md)
			float right

		&__item
			text-decoration none
			display block
			@media (min-width: xl)
				float left
				margin-right px(33)
			@media (min-width: md) and (max-width: xl)
				float left
				margin-right d(33)
			@media (max-width: md)
				text-align right

			&__btn
				position absolute
				display none
				@media (max-width: md)
					display block
					background none
					border none
					outline 0
					background-image url("/img/arrow.png")
					background-repeat no-repeat
					background-position center
					@media (orientation: portrait)
						width m(30)
						height m(42)
						top 0
						right 0
					@media (orientation: landscape)
						width m(20)
						height m(18)
						top 0
						right 0
					&_active
						transform rotate(180deg) !important
						& + .main-nav__list__item__nesting-list
							display block !important
					&:focus
						outline 0

			&_nesting-list-link
				position relative

			&__nesting-list
				@media (min-width: md)
					display none
				@media (max-width: md)
					display none
					list-style none
					margin 0
					padding 0
					@media (orientation: portrait)
						padding-right m(18)
					@media (orientation: landscape)
						padding-right m(15)

					&__item
						a
							color white
							@media (orientation: portrait)
								font-size m(20)
								line-height m(30)
							@media (orientation: landscape)
								font-size m(9)
								line-height m(15)
							text-transform none


			&_call
				a
					position relative
					@media (max-width: md)
						&:after
							position absolute
							content ""
							background url("/img/phone.png") no-repeat
							background-size cover
							@media (orientation: portrait)
								width m(28)
								height m(28)
								top m(7)
							@media (orientation: landscape)
								width m(12)
								height m(12)
								top m(4)
							left 0

			&__a
				text-transform uppercase
				vertical-align middle
				display block
				@media (min-width: xl)
					font-size px(20)
					font-family fontL
					line-height rem(150)
				@media (min-width: md) and (max-width: xl)
					font-size d(20)
					font-family fontL
					line-height d(150)
				@media  (max-width: md)
					@media (orientation: portrait)
						font-size m(20)
						line-height m(42)
						padding-right m(30)
						padding-left m(35)
					@media (orientation: landscape)
						font-size m(10)
						line-height m(18)
						padding-right m(20)
						padding-left m(20)
					font-family fontSB
					color white
					&:hover
						color color1

			&:last-child
				@media(min-width: xl)
					float right
					& a
						font-family fontR
						color color1
						font-size rem(25)
				@media (min-width: md) and (max-width: xl)
					float right
					& a
						font-family fontR
						color color1
						font-size d(25)
			&_active
				@media (min-width: xl)
					border-bottom 2px solid color1
				@media (min-width: md) and (max-width: xl)
					border-bottom 2px solid color1
