@require 'var.styl'


.lb-close
	position absolute
	@media (min-width: xl)
		width 20px
		height 20px
		top (-40/p)
		right (-40/p)
	@media (min-width: md) and (max-width: xl)
		width (30/vd)
		height (30/vd)
		top (-40/vd)
		right (-40/vd)
	@media (max-width: md) 
		
		@media (orientation: portrait)
			width (15/vm)
			height (15/vm)
			top (-20/vm)
			right (-6/vm)
		@media (orientation: landscape)
			width (8/vm)
			height (8/vm)
			top (-11/vm)
			right (-11/vm)

// .lightbox
// 	@media (max-width: md)
// 		@media (orientation: portrait)
// 			top (80/vm) !important
// 		@media (orientation: landscape)
// 			top (35/vm) !important

.lightbox .lb-image
	@media (min-width: xl)
		border 1px solid color1
	@media (min-width: md) and (max-width: xl)
		border (1/vd) solid color1
	@media (max-width: md)
		border 1px solid color1

.lb-nav
	@media (min-width: xl)
		width 100%
		left 0
	@media (min-width: md) and (max-width: xl)
		width 100%
		left 0
	@media (max-width: md)
		width 100%
		left 0
	
.lb-nav a
	@media (max-width: md)
		opacity 1 !important	
	
.lb-nav a.lb-next
	position absolute
	@media (min-width: xl)
		right -25px
	@media (min-width: md) and (max-width: xl)
		right (-25/vd)
	@media (max-width: md)
		@media (orientation: portrait)
			right (-10/vm)
		@media (orientation: landscape)
			right (-8/vm)

.lb-nav a.lb-next:after
	position absolute
	content ""
	right 0
	display block
	background url("../img/next.png") no-repeat
	background-size cover
	@media (min-width: xl)
		top 46%
		width 16px
		height 32px  
	@media (min-width: md) and (max-width: xl)
		top 46%
		width (16/vd)
		height (32/vd)  
	@media (max-width: md)
		@media (orientation: portrait)
			top 46%
			width (8/vm)
			height (16/vm)
		@media (orientation: landscape)
			top 46%
			width (5/vm)
			height (10/vm)  


.lb-nav a.lb-prev
	position absolute
	@media (min-width: xl)
		left 25px
	@media (min-width: md) and (max-width: xl)
		left (-25/vd)
	@media (max-width: md)
		@media (orientation: portrait)
			left (-10/vm)
		@media (orientation: landscape)
			left (-8/vm)

.lb-nav a.lb-prev:after
	position absolute
	content ""
	left 0
	display block
	background url("../img/prev.png") no-repeat
	background-size cover
	@media (min-width: xl)
		top 46%
		width 16px
		height 32px
	@media (min-width: md) and (max-width: xl)
		top 46%
		width (16/vd)
		height (32/vd)
	@media (max-width: md)
		@media (orientation: portrait)
			top 46%
			width (8/vm)
			height (16/vm)
		@media (orientation: landscape)
			top 46%
			width (5/vm)
			height (10/vm)

.lb-cancel
	@media (min-width: xl)
		width 48px
		height 64px
	@media (min-width: md) and (max-width: xl)
		width (64/vd)
		height (64/vd)
	@media (max-width: md)
		@media (orientation: portrait)
			width (20/vm)
			height (20/vm)
		@media (orientation: landscape)
			width (20/vm)
			height (20/vm)

.lb-data .lb-details
	@media (max-width: md)
		@media (orientation: portrait)
			padding-top (20/vm)
		@media (orientation: landscape)
			padding-top (10/vm)