@require 'var.styl'


.lb-close
	position absolute
	@media (min-width: xl)
		width 20px
		height 20px
		top px(-40)
		right px(-40)
	@media (min-width: md) and (max-width: xl)
		width d(30)
		height d(30)
		top d(-40)
		right d(-40)
	@media (max-width: md)

		@media (orientation: portrait)
			width m(15)
			height m(15)
			top m(-20)
			right m(-6)
		@media (orientation: landscape)
			width m(8)
			height m(8)
			top m(-11)
			right m(-11)

.lightbox .lb-image
	@media (min-width: xl)
		border 1px solid color1
	@media (min-width: md) and (max-width: xl)
		border 1px solid color1
	@media (max-width: md)
		border 1px solid color1

.lb-nav
	@media (min-width: xl)
		width 100%
		left 0
	@media (min-width: md) and (max-width: xl)
		width 100%
		left 0
	@media (max-width: md)
		width 100%
		left 0

.lb-nav a
	@media (max-width: md)
		opacity 1 !important

.lb-nav a.lb-next
	position absolute
	@media (min-width: xl)
		right -25px
	@media (min-width: md) and (max-width: xl)
		right d(-25)
	@media (max-width: md)
		@media (orientation: portrait)
			right m(-10)
		@media (orientation: landscape)
			right m(-8)

.lb-nav a.lb-next:after
	position absolute
	content ""
	right 0
	display block
	background url("../img/next.png") no-repeat
	background-size cover
	@media (min-width: xl)
		top 46%
		width 16px
		height 32px
	@media (min-width: md) and (max-width: xl)
		top 46%
		width d(16)
		height d(32)
	@media (max-width: md)
		@media (orientation: portrait)
			top 46%
			width m(8)
			height m(16)
		@media (orientation: landscape)
			top 46%
			width m(5)
			height m(10)


.lb-nav a.lb-prev
	position absolute
	@media (min-width: xl)
		left 25px
	@media (min-width: md) and (max-width: xl)
		left d(-25)
	@media (max-width: md)
		@media (orientation: portrait)
			left m(-10)
		@media (orientation: landscape)
			left m(-8)

.lb-nav a.lb-prev:after
	position absolute
	content ""
	left 0
	display block
	background url("../img/prev.png") no-repeat
	background-size cover
	@media (min-width: xl)
		top 46%
		width 16px
		height 32px
	@media (min-width: md) and (max-width: xl)
		top 46%
		width d(16)
		height d(32)
	@media (max-width: md)
		@media (orientation: portrait)
			top 46%
			width m(8)
			height m(16)
		@media (orientation: landscape)
			top 46%
			width m(5)
			height m(10)

.lb-cancel
	@media (min-width: xl)
		width 48px
		height 64px
	@media (min-width: md) and (max-width: xl)
		width d(64)
		height d(64)
	@media (max-width: md)
		@media (orientation: portrait)
			width m(20)
			height m(20)
		@media (orientation: landscape)
			width m(20)
			height m(20)

.lb-data .lb-details
	@media (max-width: md)
		@media (orientation: portrait)
			padding-top m(20)
		@media (orientation: landscape)
			padding-top m(10)
