@require "var.styl"

.main-preview

	position relative
	z-index 2
	@media (min-width: xl)
		background url("/img/preview_bg.jpg") 0 40% no-repeat
		height px(900)
		margin-bottom px(90)
		background-size cover
	@media (min-width: md) and (max-width: xl)
		background url("/img/preview_bg.jpg") 0 40% no-repeat
		height d(900)
		margin-bottom d(90)
		background-size cover
	@media (max-width: md)
		background url("/img/preview_bg.jpg") 50% 40% no-repeat
		@media (orientation: portrait)
			height m(350)
			margin-bottom m(20)
		@media (orientation: landscape)
			height m(160)
			margin-bottom m(10)
		background-size cover


	& .container
		position relative
		z-index 1
		@media (min-width: xl)
			padding-top px(111)
		@media (min-width: md) and (max-width: xl)
			padding-top d(111)
		@media (orientation: portrait) and (max-width: md)
			padding-top m(35)
		@media (orientation: landscape) and (max-width: md)
			padding-top m(11)


	&:after
		position absolute
		top 0
		left 0
		height 100%
		width 100%
		@media (min-width: md)
			background rgba(0, 0, 0, 0.5)
		@media (orientation: portrait) and (max-width: md)
			background rgba(0, 0, 0, 0.5)
		@media (orientation: landscape) and (max-width: md)
			background rgba(0, 0, 0, 0.6)
		content ""

	&__title
		text-transform uppercase
		@media (min-width: xl)
			font-size px(34)
			margin-bottom px(90)
		@media (min-width: md) and (max-width: xl)
			font-size d(34)
			margin-bottom d(90)
		@media (orientation: portrait) and (max-width: md)
			font-size m(16)
			margin-bottom m(32)
		@media (orientation: landscape) and (max-width: md)
			font-size m(12)
			margin-bottom m(12)
		font-family fontR
		color white


	&__line
		display block
		height 2px
		@media (min-width: xl)
			width px(178)

			margin-bottom px(90)
		@media (min-width: md) and (max-width: xl)
			width d(178)

			margin-bottom d(90)
		@media (orientation: portrait) and (max-width: md)
			width m(89)

			margin-bottom m(30)
		@media (orientation: landscape) and (max-width: md)
			width m(55)

			margin-bottom m(8)
		background color1
		border 0
		outline 0
		margin 0


	&__text
		@media (min-width: xl)
			width px(740)
			line-height rem(30)
			font-size rem(25)
			margin-bottom px(115)
			font-family fontSB
		@media (min-width: md) and (max-width: xl)
			width d(640)
			line-height d(30)
			font-size d(25)
			margin-bottom d(115)
			font-family fontSB
		@media (orientation: portrait) and (max-width: md)
			width 100%
			line-height m(14)
			font-size m(12)
			margin-bottom m(42)
			font-family fontL
		@media (orientation: landscape) and (max-width: md)
			width 100%
			line-height m(11)
			font-size m(9)
			margin-bottom m(15)
			font-family fontL
		color white
