@require "var.styl"

.main-footer
	@media (min-width: xl)
		padding-top px(54)
		padding-bottom px(51)
	@media (min-width: md) and (max-width: xl)
		padding-top d(54)
		padding-bottom d(51)
	@media (orientation: portrait) and (max-width: md)
		padding-top m(19)
		padding-bottom m(18)
	@media (orientation: landscape) and (max-width: md)
		padding-top m(8)
		padding-bottom m(7)


	.container
		display flex
		align-items center
		justify-content space-between
		box-sizing border-box
		@media (min-width: xl)
			padding 0 px(180)
		@media (min-width: md) and (max-width: xl)
			padding 0 d(180)


	&__block


		&_logo
			text-align center

			& img
				@media (min-width: xl)
					width px(180)
				@media (min-width: md) and (max-width: xl)
					width d(180)
				@media (orientation: portrait) and (max-width: md)
					width m(60)
					height m(54)
				@media (orientation: landscape) and (max-width: md)
					width m(35)


		&__field
			display block
			text-align right
			position relative
			font-family fontL
			@media (min-width: xl)
				font-size px(27)
				margin-bottom px(26)
				padding-right px(40)
			@media (min-width: md) and (max-width: xl)
				margin-bottom d(26)
				padding-right d(40)
				font-size d(25)
			@media (orientation: portrait) and (max-width: md)
				margin-bottom m(12)
				padding-right m(20)
				font-size m(10)
			@media (orientation: landscape) and (max-width: md)
				margin-bottom m(12)
				padding-right m(15)
				font-size m(8)
			&:last-child
				margin-bottom 0

			&:after
				position absolute
				top 0
				right 0
				content ''
				display block
				background-size cover
				@media(min-width: xl)
					width px(30)
					height px(30)
				@media(max-width: xl)
					width d(30)
					height d(30)
				@media(max-width: md)
					@media(orientation: portrait)
						width m(12)
						height m(12)
					@media(orientation: landscape)
						width m(10)
						height m(10)

			&_phone:after
				background-image url('/img/phone.png')
			&_whatsapp:after
				background-image url('/img/whatsapp.png')
			&_telegram:after
				background-image url('/img/telegram.png')
