@require "var.styl"

.main-footer
	@media (min-width: xl)
		padding-top px(54)
		padding-bottom px(51)
	@media (min-width: md) and (max-width: xl)
		padding-top d(54)
		padding-bottom d(51)
	@media (orientation: portrait) and (max-width: md)
		padding-top m(19)
		padding-bottom m(18)
	@media (orientation: landscape) and (max-width: md)
		padding-top m(8)
		padding-bottom m(7)


	.container
		display flex
		align-items center
		justify-content space-between
		box-sizing border-box
		@media (min-width: xl)
			padding 0 px(180)
		@media (min-width: md) and (max-width: xl)
			padding 0 d(180)


	&__block
		width 33.3%

		&_logo
			text-align center

			& img
				@media (min-width: xl)
					width px(180)
				@media (min-width: md) and (max-width: xl)
					width d(180)
				@media (orientation: portrait) and (max-width: md)
					width m(60)
					height m(54)
				@media (orientation: landscape) and (max-width: md)
					width m(35)


		&__phone
			display block
			text-align right

			font-family fontL
			@media (min-width: xl)
				margin-bottom px(26)
			@media (min-width: md) and (max-width: xl)
				margin-bottom d(26)
			@media (orientation: portrait) and (max-width: md)
				margin-bottom m(12)
				font-size m(12)
			@media (orientation: landscape) and (max-width: md)
				margin-bottom m(12)
				font-size m(9)
			&:last-child
				margin-bottom 0
