@require "var.styl"

.rental
	&-container
		@media (min-width: xl)
			padding-top px(100)
			
		@media (min-width: md) and (max-width: xl)
			padding-top d(111)

		@media (max-width: md)
			@media (orientation: portrait)
				padding-top m(10)

			@media (orientation: landscape)
				padding-top m(10)

	&-block
		@media (min-width: md)
			position relative
		@media (max-width: md)
			display flex
			flex-direction column
	&-map
		width 100%
		@media (min-width: xl)
			height px(900) !important
		@media (min-width: md) and (max-width: xl)
			height d(900) !important
		@media (max-width: md)
			@media (orientation: portrait)
				height m(250) !important
			@media (orientation: landscape)
				height m(150) !important

	&-title
		text-align center
		margin 0
		padding 0
		font-family fontR
		text-transform uppercase
		@media (min-width: xl)
			font-size rem(32)
			margin-bottom px(65)
		@media (min-width: md) and (max-width: xl)
			font-size d(32)
			margin-bottom d(65)
		@media (max-width: md)
			@media (orientation: portrait)
				font-size m(12)
				margin-bottom m(15)
			@media (orientation: landscape)
				font-size m(10)
				margin-bottom m(12)
	&-addresses-city
		text-align center
		@media (min-width: xl)
			width 70%
			margin 0 auto
			font-family fontR
			font-size px(25)
			line-height px(30)
			margin-bottom px(75)
		@media (max-width: xl)
			width 70%
			margin 0 auto
			font-family fontR
			font-size d(25)
			line-height d(30)
			margin-bottom d(70)
		@media (max-width: md)
			width 100%
			font-family fontL
			text-align center
			@media (orientation: landscape)
				font-size m(9)
				line-height m(12)
			@media (orientation: portrait)
				font-size m(13)
				line-height m(16)

	&-addresses
		@media (min-width: md)
			position absolute
			z-index 1
		@media (min-width: xl)
			top px(50)
			left px(100)
		@media (min-width: md) and (max-width: xl)
			top d(50)
			left d(100)
		@media (max-width: md)
			display flex
			flex-wrap wrap
			justify-content space-around
	&-address
		background white
		font-family fontL
		cursor pointer

		@media (min-width: xl)
			margin-bottom px(20)
			padding px(25) px(18)
			padding-right px(30)
			border-radius 3px
			box-shadow 1px 2px 19px 0px rgba(50, 50, 50, 1)
		@media (min-width: md) and (max-width: xl)
			margin-bottom d(25)
			padding d(37) d(18)
			padding-right d(30)
			border-radius 3px
			box-shadow 1px 2px 19px 0px rgba(50, 50, 50, 1)
		@media (max-width md)
			position relative
			flex-basis 49%
			margin-bottom 1%
			box-sizing border-box
			-webkit-box-shadow inset 0px 0px 1px 1px rgba(0,184,212,1)
			-moz-box-shadow inset 0px 0px 1px 1px rgba(0,184,212,1)
			box-shadow inset 0px 0px 1px 1px rgba(0,184,212,1)
			border-radius 3px
			@media (orientation: landscape)
				padding m(10) m(8)
				padding-left m(35)
			@media (orientation: portrait)
				padding m(15) m(10)
				padding-left m(30)
			&:before
				position absolute
				display block
				content ''
				background-image url('/img/location.jpg')
				background-size cover

				@media (orientation: landscape)
					top m(9)
					left m(17)
					width m(9)
					height m(12)
				@media (orientation: portrait)
					top m(12)
					left m(5)
					width m(15)
					height m(20)

		&:hover
			box-shadow 0px 0px 2px 0px rgba(50, 50, 50, 1)
		&:active
			box-shadow inset 0px 0px 9px 2px rgba(50, 50, 50, 1)

		&__title
			font-family fontSB
			@media (min-width: xl)
				font-size 20px
				margin-bottom 15px
			@media (min-width: md) and (max-width: xl)
				font-size d(22)
				margin-bottom d(15)
			@media (max-width: md)

				font-size m(10)
		&__text
			@media (min-width: xl)
				font-size 18px
				margin-bottom 15px
			@media (min-width: md) and (max-width: xl)
				font-size d(18)
				margin-bottom d(15)
			@media (max-width: md)
				@media (orientation: landscape)
					font-size m(8)
				@media (orientation: portrait)
					font-size m(10)



		&__phone
			@media (min-width: xl)
				font-size 18px
			@media (min-width: md) and (max-width: xl)
				font-size d(18)
			@media (max-width: md)
				display none
	&-balloon
		font-family fontSB
		overflow hidden
		@media (min-width: xl)
			width 400px
		@media (min-width: md) and (max-width: xl)
			width 400px
		@media (max-width: md)
			@media (orientation: landscape)
				width 100%
			@media (orientation: portrait)
				width 100%

		&-title
			text-transform uppercase
			@media (min-width: xl)
				font-size px(26)
				margin-bottom px(25)
			@media (min-width: md) and (max-width: xl)
				font-size d(26)
				margin-bottom d(25)
			@media (max-width: md)
				@media (orientation: landscape)
					font-size m(8)
					margin-bottom m(3)
				@media (orientation: portrait)
					font-size m(9)
					margin-bottom m(3)

		&-content
			display flex
		&-text
			flex-basis 70%
			@media (min-width: xl)
				padding-right px(25)
			@media (min-width: md) and (max-width: xl)
				padding-right d(25)


		&-address
			@media (min-width: xl)
				font-size px(22)
				line-height px(30)
				margin-bottom px(30)
			@media (min-width: md) and (max-width: xl)
				font-size d(22)
				line-height d(30)
				margin-bottom d(30)
			@media (max-width: md)
				@media (orientation: portrait)
					font-size m(8)
					line-height m(10)
					margin-bottom m(4)
				@media (orientation: landscape)
					font-size m(6)
					line-height m(7)
					margin-bottom m(4)

		&-phone
			position relative
			@media (min-width: xl)
				font-size px(22)
				padding-left px(30)
				margin-bottom px(30)
			@media (min-width: md) and (max-width: xl)
				font-size d(22)
				margin-bottom d(15)
				padding-left d(30)
			@media (max-width: md)
				@media (orientation: portrait)
					font-size m(9)
					margin-bottom m(2)
					padding-top m(4)
					padding-left m(20)
				@media (orientation: landscape)
					font-size m(6)
					margin-bottom m(2)
					padding-left m(10)
			&:before
				position absolute
				content ""
				display block
				background-image url('/img/phone_small.png')
				background-repeat no-repeat
				background-position center
				background-size cover
				@media (min-width: md) and (max-width: xl)
					width d(22)
					height d(22)
					left 0
					top d(9)
				@media (min-width: xl)
					width px(22)
					height px(22)
					left 0
					top px(9)
				@media (max-width: md)
					@media (orientation: portrait)
						width m(14)
						height m(14)
						top m(9)
						left 0
					@media (orientation: landscape)
						width m(8)
						height m(8)
						top m(1)
						left 0


		&-work
			position relative
			@media (min-width: xl)
				font-size px(22)
				padding-left px(30)
			@media (min-width: md) and (max-width: xl)
				font-size d(22)
				padding-left d(30)
			@media (max-width: md)
				@media (orientation: portrait)
					padding-top m(7)
					font-size m(9)
					padding-left m(20)
				@media (orientation: landscape)
					font-size m(6)
					padding-left m(10)
			&:before
				position absolute
				content ""
				display block
				background-image url('/img/worktime.png')
				background-repeat no-repeat
				background-position center
				background-size cover
				@media (min-width: md) and (max-width: xl)
					width d(22)
					height d(22)
					left 0
					top d(7)
				@media (min-width: xl)
					width px(22)
					height px(22)
					left 0
					top px(7)
				@media (max-width: md)
					@media (orientation: portrait)
						width m(14)
						height m(14)
						left 0
						top m(9)
					@media (orientation: landscape)
						width m(8)
						height m(8)
						top m(1)
						left 0

		&-img
			flex-basis 27%
			& img
				width 100%
