@require "var.styl"

.social-item
	position relative
	@media (min-width: xl)
		padding-left px(60)
		line-height rem(42)
		font-size rem(20)
		margin-right px(50)
	@media (min-width: md) and (max-width: xl)
		padding-left d(60)
		line-height d(42)
		font-size d(20)
		margin-right d(50)
	@media (orientation: portrait) and (max-width: mob)
		padding-left m(35)
		line-height m(28)
		font-size m(10)
		margin-right m(10)
	@media (orientation: landscape) and (max-width: mob)
		padding-left m(22)
		line-height m(20)
		font-size m(10)
		margin-right m(7)
	display inline-block
	vertical-align middle
	font-family fontL
	text-transform uppercase


	&:hover
		color color1

	&:after
		position absolute
		left 0
		top 0
		content ""
		@media (min-width: xl)
			width px(42)
			height px(42)
		@media (min-width: md) and (max-width: xl)
			width d(42)
			height d(42)
		@media (orientation: portrait) and (max-width: mob)
			width m(28)
			height m(28)
		@media (orientation: landscape) and (max-width: mob)
			width m(20)
			height m(20)

	&_in:after
		background url("/img/in.png") no-repeat
		background-size cover



	&__phone
		text-transform uppercase
		@media (min-width: xl)
			font-size rem(25)
			line-height rem(42)
		@media (min-width: md) and (max-width: xl)
			font-size d(25)
			line-height d(42)
		color color1
		float right


	&_footer
		@media (orientation: portrait) and (max-width: mob)
			font-size m(6)
		@media (orientation: landscape) and (max-width: mob)
			font-size m(6)
		margin-bottom px(30)

	&_footer:last-child
		margin-bottom 0
