@require 'var.styl'


hxl = 600
hmdp = 150
hmdl = 140

seevhxl = 800
seevhdp = 220
seevhmdl = 200


.swiper-container
  width 100%

.swiper-slide
  text-align center
  background #fff
  display -webkit-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-box-pack center
  -ms-flex-pack center
  -webkit-justify-content center
  justify-content center
  -webkit-box-align center
  -ms-flex-align center
  -webkit-align-items center
  align-items center
  @media (min-width: md)
    background-color white
  &__image
    @media(min-width: xl)
      width 72%
      height px(hxl)
    @media(min-width: md) and (max-width: xl)
      width 72%
      height d(hxl)
    @media(max-width: md)
      @media(orientation: portrait)
        width 93%
        height m(hmdp)
      @media(orientation: landscape)
        width 90%
        height m(hmdl)
    background-repeat no-repeat
    background-position center
    background-size cover
    &.white
      background-color white


.swiper-button-next, .swiper-button-prev
  position absolute
  top 0
  cursor pointer
  background-position center
  background-repeat no-repeat
  @media(min-width: xl)
    height px(hxl)
    background none
  @media(min-width: md) and (max-width: xl)
    height d(hxl)
  @media(max-width: md)
    @media(orientation: portrait)
      height m(hmdp)
    @media(orientation: landscape)
      height m(hmdl)
.swiper-button-next
  width 60%
.swiper-button-prev
  width 40%
.index-swiper>.swiper-button-next
  width 10%
.index-swiper>.swiper-button-prev
  width 10%

.swiper-button-next:after, .swiper-button-prev:after
  display block
  position absolute
  content ''
  background-size cover
  @media(min-width: xl)
    width px(21)
    height px(42)
    top 46%
  @media(min-width: md) and (max-width: xl)
    width d(21)
    height d(42)
    top 46%
  @media(max-width: md)
    @media(orientation: portrait)
      width m(8)
      height m(16)
      top 44%
    @media(orientation: landscape)
      width m(5)
      height m(10)
      top 46%

.swiper-button-next:after
  background-image url('/img/next@2x.png')
  background-repeat no-repeat
  background-size cover
  @media(min-width: xl)
    right 33%
  @media(min-width: md) and (max-width: xl)
    right 33%
  @media(max-width: md)
    @media(orientation: portrait)
      right 2%
    @media(orientation: landscape)
      right 3%

.index-swiper>.swiper-button-next:after
  @media(min-width: md)
    right 0
  @media(max-width: md)
    right 35%

.swiper-button-prev:after
  background-image url('/img/prev@2x.png')
  background-repeat no-repeat
  background-size cover
  @media(min-width: xl)
    left 44%
  @media(min-width: md) and (max-width: xl)
    left 44%
  @media(max-width: md)
    @media(orientation: portrait)
      left 0
    @media(orientation: landscape)
      left 3%

.index-swiper>.swiper-button-prev:after
  @media(min-width: md)
    left 0
  @media(max-width: md)
    left 35%


.swiper-button-next
  right 0
.swiper-button-prev
  left 0

.swiper-button-next:before, .swiper-button-prev:before
  display none
  content ''
  top 0
  position absolute
  background-color white
  @media(min-width: xl)
    height px(hxl)
  @media(min-width: md) and (max-width: xl)
    height d(hxl)
  @media(max-width: md)
    @media(orientation: portrait)
      height m(hmdp)
    @media(orientation: landscape)
      height m(hmdl)

.swiper-button-next:hover:before, .swiper-button-prev:hover:before
  @media(min-width: md)
    display block

.swiper-button-next:before
  width (50/6)%
  right 0
.swiper-button-prev:before
  width 12.7%
  left 0
