vd = (1920/100)vw
vm = (320/100)vw
//@media

mob = 785px
desc = 786px
d1 = 1280px
r=16rem

p = (1920/d1)

px(r)
  round(r/p)
d(r)
  round((r/vd), 1)
m(r)
  round((r/vm), 1)
rem(d)
  round((d/r), 1)

color1 = #00B8D4
color2 = #EEEDED
color3 = #868788
color4 = #95989A
color5 = rgba(149, 152, 154, 0.4)
colorBG = #EAEAEA
fontL = SegoeUILight
fontR = SegoeUIRegular
fontSB = SegoeUISemiBold
fontI = SegoeUIItalic




  // Small screen / phone
 sm = 576px
  // Medium screen / tablet
 md = 768px
  // Large screen / desktop
 lg = 992px
  // Extra large screen / wide desktop
 xl = 1280px
